.button {
  border: none;
  /* From https://css.glass */
  background: #e2d2ffd1;
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  width: 7rem;
  height: 2.5rem;
}

.button:hover {
  background-color: var(--color-third);
}
